/* Write your code here. */

.small-con {
  background-color: #fbbf24;
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 5px;
}
p {
  color: #ffffff;
}

.medium-con {
  background-color: #38bdf8;
  height: 100px;
  width: 200px;
  text-align: center;
  margin: 5px;
}

.large-con {
  background-color: #ec4899;
  height: 200px;
  width: 400px;
  text-align: center;
  margin: 5px;
}

.bg-container {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.boxes-con {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
